header{
    /*background-color: aqua;*/
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo{
    
}

.links-container{
    height: 36px;
    /*background-color: blue;*/
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.links-container a{
    text-shadow: 2px 3px 2px #000;
    padding: 10px 5px;
    transition: all 0.5s;
    border-radius: 6px;
}

.links-container a:hover{
    background-color: #FF031A;
}