main{
    flex-grow: 1;
    /*background-color: chartreuse;*/
    display: flex;
    font-family: 'Mulish', sans-serif;
}

.content-container{
    /*background-color: blue;*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.content-container h1{
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    font-weight: 400;
    line-height: 4.5rem;
    color: #fff;
}

.movie-title{
    color: #FF031A;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

.movie-text{
   color: #fff; 
   width: 600px;
   font-size: 1.1rem;
   font-weight: 200;
}

.button{
    height: 80px;
    width: 300px;
    background-color: #FF031A;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

.button:hover{
    background-color: #90010d;
    transition: all 0.5s;
}

.content-container h1 span{
    font-size: 2.5rem;
    font-weight: 200;
}

.social-container ul{
    height: 100%;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; 
}

.social-container a{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

.social-container a:hover{
    background-color: #FF031A;
    border-color: #FF031A;
    transition: all 0.6s;
}

.social-container i {
    font-size: 1.5rem;
}

@media (max-width:768px){
    .movie-text{
        display: none;
    } 
    .social-container{
        display: none;
    }
    .content-container{
        gap: 40px;
        justify-content: flex-end;
        padding-bottom: 100px;
        align-items: center;
    }
    .content-container h1{
        font-size: 4rem;
        line-height: 2.5rem;
    }
    .movie-title{
        font-size: 1.5rem;
    }
}